<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <location path="." inheritInChildApplications="false">
    <system.webServer>
      <handlers>
		<add name="LetsEncrypt" path=".well-known/acme-challenge/*" verb="*" modules="StaticFileModule" preCondition="integratedMode" resourceType="File" requireAccess="Read" />
        <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
      </handlers>
      <aspNetCore processPath="dotnet" arguments=".\cloudscribe_PeterTranchell_NET6.dll" stdoutLogEnabled="false" stdoutLogFile=".\logs\stdout" hostingModel="InProcess" />
    <httpProtocol>
      <customHeaders>
        <remove name="X-Powered-By" />
        <add name="X-Frame-Options" value="SAMEORIGIN" />
        <add name="X-XSS-Protection" value="1; mode=block" />
        <add name="X-Content-Type-Options" value="nosniff" />
        <!-- Done by cloudscribe <add name="Strict-Transport-Security" value="max-age=31536000" /> -->
        <add name="Referrer-Policy" value="no-referrer-when-downgrade" />
      </customHeaders>
    </httpProtocol>
	
    <rewrite>
      <rules>
		<rule name="Redirect from WWW" stopProcessing="true">
          <match url=".*" />
          <conditions>
            <add input="{HTTP_HOST}" pattern="www.peter-tranchell.uk$" />
          </conditions>
          <action type="Redirect" url="https://peter-tranchell.uk/{R:0}" redirectType="Permanent" />
        </rule>


        <!-- BULK RULES -->
        <rule name="media-scores" stopProcessing="true">
          <match url="^Media/Default/scores/(.*)" ignoreCase="true" />
          <action type="Redirect" redirectType="Permanent" url="scores/{R:1}" />
        </rule>
        <rule name="media-other" stopProcessing="true">
          <match url="^Media/Default/site-media/(.*)" ignoreCase="true" />
          <action type="Redirect" redirectType="Permanent" url="site-media/{R:1}" />
        </rule>
        <rule name="about-p-a-t" stopProcessing="true">
          <match url="^about-p-a-t(.*)" ignoreCase="true" />
          <action type="Redirect" redirectType="Temporary" url="blog{R:1}" />
        </rule>
        <rule name="neophily" stopProcessing="true">
          <match url="^neophily(.*)" ignoreCase="true" />
          <action type="Redirect" redirectType="Temporary" url="blog{R:1}" />
        </rule>
        <rule name="written-works" stopProcessing="true">
          <match url="^written-works(.*)" ignoreCase="true" />
          <action type="Redirect" redirectType="Temporary" url="writings/blog{R:1}" />
        </rule>
        <!-- SPECIFIC PAGES -->
        <rule name="contact" stopProcessing="true">
          <match url="^contact$" ignoreCase="true" />
          <action type="Redirect" redirectType="Temporary" url="contact-us" />
        </rule>
        <rule name="guidance" stopProcessing="true">
          <match url="^music/guidance-on-use-of-tranchell-scores$" ignoreCase="true" />
          <action type="Redirect" redirectType="Temporary" url="musical-works" />
        </rule>
        <rule name="the-commemoration-cd" stopProcessing="true">
          <match url="^recordings/the-commemoration-cd$" ignoreCase="true" />
          <action type="Redirect" redirectType="Temporary" url="the-commemoration-cd" />
        </rule>
        <rule name="the-mayor-of-casterbridge-leppard-the-cambridge-review-volume-lxxiii-13-october-1951" stopProcessing="true">
          <match url="^written-works/the-mayor-of-casterbridge-leppard-the-cambridge-review-volume-lxxiii-13-october-1951$" ignoreCase="true" />
          <action type="Redirect" redirectType="Temporary" url="blog/the-mayor-of-casterbridge-leppard-the-cambridge-review-volume-lxxiii-13-october-1951" />
        </rule>
        <rule name="sonatina-for-pianoforte" stopProcessing="true">
          <match url="^musical-works/sonatina-for-pianoforte$" ignoreCase="true" />
          <action type="Redirect" redirectType="Temporary" url="musical-works/blog/sonatina-for-pianoforte" />
        </rule>
        <rule name="magnificat-upon-tone-8" stopProcessing="true">
          <match url="^musical-works/magnificat-upon-tone-8$" ignoreCase="true" />
          <action type="Redirect" redirectType="Temporary" url="musical-works/blog/magnificat-upon-tone-8" />
        </rule>
        <rule name="five-thackeray-ditties" stopProcessing="true">
          <match url="^musical-works/five-thackeray-ditties$" ignoreCase="true" />
          <action type="Redirect" redirectType="Temporary" url="musical-works/blog/five-thackeray-ditties" />
        </rule>
        <rule name="magnificat-and-nunc-dimittis-tone-4" stopProcessing="true">
          <match url="^musical-works/magnificat-and-nunc-dimittis-tone-4$" ignoreCase="true" />
          <action type="Redirect" redirectType="Temporary" url="musical-works/blog/magnificat-and-nunc-dimittis-tone-4" />
        </rule>
        <rule name="nun-danket-now-thank-we-all-our-god-last-verse-harmonisation" stopProcessing="true">
          <match url="^musical-works/nun-danket-now-thank-we-all-our-god-last-verse-harmonisation$" ignoreCase="true" />
          <action type="Redirect" redirectType="Temporary" url="musical-works/blog/nun-danket---now-thank-we-all-our-god---last-verse-harmonisation" />
        </rule>
        <rule name="waltz-and-calypso" stopProcessing="true">
          <match url="^musical-works/waltz-and-calypso$" ignoreCase="true" />
          <action type="Redirect" redirectType="Temporary" url="musical-works/blog/waltz-and-calypso" />
        </rule>
        <rule name="psalm-6" stopProcessing="true">
          <match url="^musical-works/psalm-6-two-double-chants-in-f-sharp-minor-and-major$" ignoreCase="true" />
          <action type="Redirect" redirectType="Temporary" url="musical-works/blog/psalm-6-paired-minor-and-major-chants" />
        </rule>
        <rule name="quadruple-chant-for-psalms-12-or-13" stopProcessing="true">
          <match url="^musical-works/quadruple-chant-for-psalm-12-in-c-minor-atbb-or-e-minor-satb$" ignoreCase="true" />
          <action type="Redirect" redirectType="Temporary" url="musical-works/blog/quadruple-chant-for-psalms-12-or-13-in-c-minor-atbb-or-e-minor-satb" />
        </rule>
        <rule name="st-michael-s-mass" stopProcessing="true">
          <match url="^musical-works/st-michael-s-mass$" ignoreCase="true" />
          <action type="Redirect" redirectType="Temporary" url="musical-works/blog/st-michaels-mass" />
        </rule>
                    <rule name="Redirect musical-works to music" stopProcessing="true">
                        <match url="^musical-works/(.*)$" />
                        <action type="Redirect" url="/music/{R:1}" redirectType="Temporary" />
                    </rule>
                    <rule name="Redirect musical-works root to music root" stopProcessing="true">
                        <match url="^musical-works$" />
                        <action type="Redirect" url="/music" redirectType="Temporary" />
                    </rule>
					
					<rule name="Redirect writings blog to works" stopProcessing="true">
                        <match url="^writings/blog/(.*)$" />
                        <action type="Redirect" url="/writings/works/{R:1}" redirectType="Temporary" />
                    </rule>
					<rule name="Redirect writings blog root to works" stopProcessing="true">
                        <match url="^writings/blog$" />
                        <action type="Redirect" url="/writings/works" redirectType="Temporary" />
                    </rule>
					
					<rule name="Redirect music blog to works" stopProcessing="true">
                        <match url="^music/blog/(.*)$" />
                        <action type="Redirect" url="/music/works/{R:1}" redirectType="Temporary" />
                    </rule>
					<rule name="Redirect music blog root to works" stopProcessing="true">
                        <match url="^music/blog$" />
                        <action type="Redirect" url="/music/works" redirectType="Temporary" />
                    </rule>
        <!-- NO - redirects all site admin links as well!
        <rule name="musical-works-without-blog-segment" stopProcessing="true">
          <match url="^musical-works/(?!blog)(.*)" ignoreCase="true" />
          <action type="Redirect" redirectType="Temporary" url="musical-works/blog/{R:1}" />
        </rule>
		-->
      </rules>
    </rewrite>
	
    </system.webServer>
  </location>
</configuration>
<!--ProjectGuid: 7207e188-f3f2-4f9b-8e8b-e806d3f85ed0-->